<section class="browse-dramas">
  <ul class="grid cs-style-3">
    <% @dramas.each do |drama| %>
      <li>
        <figure>
          <%= image_tag drama.poster.url(:original) %>
          <figcaption>
            <h3>
              <%= drama.name %>
              &#40;<%= drama.release_date %>&#41;
            </h3>
            <span><%= truncate drama.plot, length: 100s %></span>
            <%= link_to raw("<strong>+</strong> to watched list"), "#", class: 'add-to-list', title: 'add this drama to your watched list' %>
          </figcaption>
        </figure>
      </li>
    <% end %>
  </ul>
</section>