<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js"></script>
<section class="browse-dramas" ng-app="drag-and-drop">
  <ul class="grid cs-style-3">
    <div class="layout">
      <div id="freewall" class="free-wall">
        <% @dramas.each do |drama| %>
        <div class='cell' style='width: 380px; height: 250px;' data-handle=".handle">
          <div class='cover'>
            <div class='handle'>Drag item handle</div>
          <li>
            <figure>
              <%= image_tag drama.poster.url(:original) %>
              <figcaption>
                <h3>
                  <%= drama.name %>
                  &#40;<%= drama.release_date %>&#41;
                </h3>
                <span><%= truncate drama.plot, length: 100 %></span>
                <%= link_to raw("<strong>+</strong> to watched list"), "#", class: 'add-to-list', title: 'add this drama to your watched list' %>
              </figcaption>
            </figure>
          </li>
         </div>
      </div>
    <% end %>
      </div>
    </div>
  </ul>
  <h2>Default window.confirmation Vs Custom confirmation</h2>
    <div ng-controller="oneCtrl">
      <div class="row-fluid">
        <div class="span6">
          <div class="btn btn-primary" data-drag="true" ng-model="list1" jqyoui-draggable="{animate: true}" ng-hide="!list1.title">{{list1.title}}</div>
        </div>
        <div class="span6">
          <div class="thumbnail" data-drop="true" ng-model="list2" jqyoui-droppable="{beforeDrop: 'beforeDrop'}" ng-bind="list2.title ? 'Dropped successfully..!' : 'Drop here...'"></div>
        </div>
      </div>
    </div>
    <br><br>
    <div ng-controller="twoCtrl">
      <div class="row-fluid">
        <div class="span6">
          <div class="btn btn-primary" data-drag="true" ng-model="list1" jqyoui-draggable="{animate: true}" ng-hide="!list1.title">{{list1.title}}</div>
        </div>
        <div class="span6">
          <div class="thumbnail" data-drop="true" ng-model="list2" jqyoui-droppable="{beforeDrop: 'beforeDrop'}" ng-bind="list2.title ? 'Dropped successfully..!' : 'Drop here...'"></div>
        </div>
      </div>
    </div>
</section>

<script type="text/javascript">
  var wall = new Freewall("#freewall");
  wall.reset({
    draggable: true,
    selector: '.cell',
    animate: true,
    cellW: 380,
    cellH: 250,
    onResize: function() {
      wall.refresh();
    },
    onBlockMove: function() {
      console.log(this);
    }
  });
  wall.fitWidth();
  // for scroll bar appear;
  $(window).trigger("resize");
</script>
    <script>
    var App = angular.module('drag-and-drop', ['ngDragDrop', 'ui.bootstrap']);
App.controller('oneCtrl', function($scope, $q) {
  $scope.list1 = {title: 'Drag and Drop with default confirmation'};
  $scope.list2 = {};
  $scope.beforeDrop = function() {
    var deferred = $q.defer();
    if (confirm('Are you sure???')) {
      deferred.resolve();
    } else {
      deferred.reject();
    }
    return deferred.promise;
  };
});
App.controller('twoCtrl', function($scope, $q, $modal) {
  $scope.list1 = {title: 'Drag and Drop with custom confirmation'};
  $scope.list2 = {};
  $scope.beforeDrop = function() {
    var modalInstance = $modal.open({
      templateUrl: 'myModalContent.html',
      controller: 'ModalInstanceCtrl'
    });

    return modalInstance.result;
  };
}).controller('ModalInstanceCtrl', function ($scope, $modalInstance) {
  $scope.ok = function () {
    $modalInstance.close();
  };
  $scope.cancel = function () {
    $modalInstance.dismiss('cancel');
  };
});
    </script>