<h1>Log In</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<%= form_tag sessions_path do %>
	  <div class="field">
	  	<%= label_tag :username %>
	  	<%= text_field_tag :username, params[:username] %>
	  </div>
	  <div class="field">
	  	<%= label_tag :password %>
	  	<%= text_field_tag :password %>
	  </div>
	  <div> <%= submit_tag "Log In" %> </div>
	<% end %>
  </div>
</div>