<p id="notice"><%= notice %></p>

<h1>Listing Casts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @casts.each do |cast| %>
      <tr>
        <td><%= cast.name %></td>
        <td><%= link_to 'Show', cast %></td>
        <td><%= link_to 'Edit', edit_cast_path(cast) %></td>
        <td><%= link_to 'Destroy', cast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cast', new_cast_path %>
