<!DOCTYPE html>
<html ng-app="secondLead">

  <head>
    <title>Second Lead</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body ng-controller="MainCtrl as main">
    <nav>
      <div class="nav-wrapper">
       <div class="row">
         <div class="col s12">
            <ul id="navbar" class="right hide-on-med-and-down">
              <li> <a ui-sref='dramas' ui-sref-active="active">Browse</a> </li>
              <li> <a ng-if="main.currentUser" ui-sref='user.lists({userID: main.currentUser.id})' ui-sref-active="active">MyPage</li>
              <li> <a ng-if="main.loggedIn || main.currentUser" ng-click="main.logout()">Logout</a></li>
              <li> <a ng-if="!main.loggedIn && !main.currentUser" ui-sref='register' ui-sref-active="active">Sign Up</a></li>
              <li> <a ng-if="!main.loggedIn && !main.currentUser" ui-sref='login' ui-sref-active="active">Log In</a></li>
            </ul>
          </div>
        </div>
      </div>
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :q, params[:q], placeholder: 'Search' %>
        <%= submit_tag "Go", name: nil %>
      <% end %>
    </nav>
    <ui-view></ui-view>

    <%= yield %>

  </body>

</html>
